body {
  font-family:'Segoe UI', sans-serif;
  font-weight: 100;
  background: linear-gradient(#f5f5f7 var(--global-nav-collective-height), #fff 0%);
  color:#747474;
}

#bodyContainer {
  margin-top: 75px;
}

/*
Navigation Bar
*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;
}
.nav-item {
  float: left;
}
.nav-item a {
  display: flex;
  flex-direction: column;
  color: #f5f5f7;
  padding: 24px 26px;
  font-size: 1.2rem;
  text-decoration: none;
}
.nav-item a:hover {
  color: black;
}
.nav-item:hover {
  background-color: white;
}

.user {

}
.login {
  float: right;
}

/*
MainContainer
*/
#mainContainer {
  position: relative;
  flex-direction: column;
  justify-content: center;
  min-height: 65vh;
}
#mainContainer h1 {
  padding: 30px 10px;
  border: 0.5px gray solid;
}

.welcome {
  text-align: center;
}

/*
Footer
*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color: #d8d8d8;
  width: 100%
}
.footer p {
  color: #747474;
  margin: 5px;
}

.contribute a {
  text-align: center;
  color: #747474;
}


.cohortLink {
  padding: 20px;
  color:#222;
  text-align: center;
}

.cohortLink:hover {
  font-weight: 700;
}